
@font-face {
    font-family: 'PFSquareSansProRegular';
    src: url('./fonts/PFSquareSansProRegular.eot');
    src: local('☺'), url('fonts/PFSquareSansProRegular.woff') format('woff'), url('fonts/PFSquareSansProRegular.ttf') format('truetype'), url('fonts/PFSquareSansProRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


.page{
    font-family: 'PFSquareSansProRegular';
}
.main{
    height: 604px;
    width: 100%;
    font-family: 'PFSquareSansProRegular';
    text-align: center;
    font-weight: 500;
    text-decoration: none solid rgb(255, 255, 255);
}

/*.header{*/
    /*font-family: 'PFSquareSansProRegular';*/
/*}*/

.logo{
    position: static;
    float: left;
    height: 54px;
    width: 171px;
    background-color: black;
    /*background-image: src="images/logo_new.png" ;*/
}

.logo:hover {
    cursor: pointer;
}

.navigate{
    height:40x;
    width: 320px;
    float: right;
    font-size: 18px;
    line-height: 27px;
    margin: 9px 9px 0 0;
    text-align: right;
    text-decoration: none solid rgb(193, 216, 47);
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: space-between;
    /*justify-content: space-between;*/
    /*align-content: space-between;*/
    /*font-family: 'PFSquareSansProRegular';*/

    /*box-sizing: border-box;*/
}

.list {
    margin:0 18px 0 0;
}

.aim:hover {
    border-bottom: 2px solid #C1D82F;
    color: #C1D82F;
    cursor: pointer
}

.mainTitle {
    padding: 80px 15px 0 15px;
    box-sizing: border-box;
    /*font: src="fonts/PFSquareSansProRegular.ttf" ;*/
}

.firstTitle {
    font-size: 64px;
}

.secondTitle {
    margin: 50px 0 14px 0;
    line-height: 70px;
}

.thirdTitle {
    /*margin-bottom: 68px;*/
    margin-bottom: 48px;
    line-height: 30px;
}

.register {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    padding: 12px 24px 12px 24px;
    margin-bottom: 4px;
    height: 40px;
    /*border: 2px solid transparent;*/
    /*box-sizing: border-box;*/
}

.register:hover{
    border: 2px solid #C1D82F;
    line-height: 30px;
    color: #C1D82F;
    cursor: pointer
}

/*ховер двигает нижний элемент*/

.recommendation__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0 10px 0;
}

.recommendation__text {
    line-height: 22px;
    font-size: 20px;
    /*margin: 55px 0 10px 0;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.description {
    text-align: center;
    line-height: 27px;
    font-size:16px;
    padding-top: 64px;
}

.description__header {
    font-size: 24px;
    line-height: 26px;
}

/*.city {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: center;*/

.city__header {
     /*text-align: center;*/
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     font-size: 25px;

 }

.city__wrapper{
    display: flex;
    justify-content: center;
    /*justify-content: space-evenly;*/
    flex-flow: row wrap;

}


.date {
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.date__box__colored {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 46%;
    background-color: rgb(247, 238, 118);
    justify-content: space-evenly;
/*rgb(255, 255, 219)*/

}

.date__box {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 46%;
    justify-content: space-around;
    /*width: 375px;*/

}

.date__icon {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: space-evenly;
    margin: auto 0;
    flex-flow: column wrap;
    /*padding: .35em;*/
    border: 2px solid #e74c3c;
    border-radius: 6px;

}

.date__number {
    display: flex;
    justify-content: center;
    font-size: 24px;
    /*flex-flow: column wrap;*/
}

.date__month {
    display: flex;
    justify-content: center;
    /*flex-flow: column wrap;*/
}

.date__description {
    display: flex;
    align-items: flex-start;
}

.separator {
    padding-top: 30px;
}

.schools__body {
    /*font-size: 42px;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
    max-width: 1200px;
    margin: 0px auto;

}
 .schools__header {
     font-size: 42px;
     text-align: center;
     margin: 30px 0 60px 0;
 }

 .schools__row {
     display: flex;
     flex-flow: row wrap;
     align-items: flex-start;
     justify-content: space-evenly;
     /*center*/
 }

 .schools__column {
    display: flex;
     /*flex-flow: column wrap;*/
    justify-content: center;
    flex: 0 0 35%;

 }

.item-schools__item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

 .item-schools__icon {
     /*display: flex;*/
     /*justify-content: center;*/
     height: 120px;
     width: 120px;
 }

.item-schools__city {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
 }

.item-schools__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
}

.item-schools__text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px;
    color: #1F2D32;
    line-height: 27px;
    text-decoration: none solid rgb(31,45,50);
}

.condition {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ref {
    padding-right: 5px;
    color: #0099dd;
    text-decoration: none;
}

.ref:hover {
    /*border-bottom: 2px solid #0099dd;*/
    text-decoration: underline;
    color: #0099dd;
    cursor: pointer
}

.footer {
    display: flex;
    justify-content: space-between;
}

/*не работает*/
.footer__social-icons {
    height: 32px;
    width: 32px;
    background-color: white;
    color: #006491;
}