
@font-face {
    font-family: 'PFSquareSansProRegular';
    src: url('./fonts/PFSquareSansProRegular.eot');
    src: local('☺'), url('fonts/PFSquareSansProRegular.woff') format('woff'), url('fonts/PFSquareSansProRegular.ttf') format('truetype'), url('fonts/PFSquareSansProRegular.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

.page{
    font-family: 'PFSquareSansProRegular', sans-serif;
    font-weight: 100;
    /* letter-spacing: 0.02em; */
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}


.main__wrapper{
     background: url('./images/background.jpg') no-repeat center top / cover;
     background-size: 100%;
}

/*не удаётся воспользоваться font-weight
похоже, нужно менять шрифт в @font-face
*/

.main{
    height: 600px;
    width: 100%;
    /* font-family: 'PFSquareSansProRegular'; */
    /* font-weight: 100; */
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 6px black, -1px -1px 6px black;
    /* text-decoration: none solid rgb(0, 0, 0); */
    padding-top: 10px;
    padding-bottom: 40px;
}

.logo{
    position: static;
    float: left;
    height: 54px;
    width: 171px;
    margin-left: 20px;
    /* background-color: black; */
}

.logo:hover {
    cursor: pointer;
}

.navigate{
    height:40x;
    width: 360px;
    float: right;
    font-size: 18px;
    line-height: 27px;
    margin: 10px 18px 0 0;
    text-align: right;
    text-decoration: none solid rgb(193, 216, 47);
    display: flex;
    justify-content: space-between;
}

/* .list {
    margin: 10px 18px 0 0;
} */

.aim {
    text-decoration: none;
}

.aim:visited{
    color: #fff;
}
.aim:hover {
    border-bottom: 2px solid #C1D82F;
    color: #C1D82F;
    cursor: pointer
}

.mainTitle {
    padding: 80px 15px 0 15px;
    box-sizing: border-box;
}

.firstTitle {
    font-size: 64px;
}

.secondTitle {
    margin: 50px 0 14px 0;
    line-height: 70px;
}

.thirdTitle {
    margin-bottom: 48px;
    line-height: 30px;
}

.register {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 6px black, -1px -1px 6px black;;
    padding: 12px 24px 12px 24px;
    /* margin-bottom: 4px; */
    height: 40px;
}
 
.register:hover{
    border: 2px solid #C1D82F;
    /* line-height: 35px; */
    color: #C1D82F;
    cursor: pointer
}

.recommendation__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0 10px 0;
}

.recommendation__text {
    /* line-height: 22px; */
    font-size: 20px;
}

.description {
    text-align: center;
    line-height: 27px;
    font-size:16px;
    padding: 90px 0 40px 0;
}

.description__header {
    font-size: 24px;
    line-height: 26px;
}

/*.city {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: center;*/

.city__header {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     font-size: 25px;
 }

.city__wrapper{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.date {
    padding-top: 40px;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.date__box {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 46%;
    justify-content: flex-start;
    padding-left: 15px;
}
 
.date__box_colored {
    background-color: rgb(247, 238, 118);
}
 
/* как лучше совместить margin в одну строчку? */
.date__icon {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: space-evenly;
    margin: auto 0;
    margin-right: 20px;
    flex-flow: column wrap;
    border: 2px solid #e74c3c;
    border-radius: 6px;
}

.date__number {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.date__month {
    display: flex;
    justify-content: center;
}

.date__description {
    display: flex;
    align-items: flex-start;
}

.separator {
    padding-top: 80px;
}

.schools__body {
    max-width: 1200px;
    margin: 0px auto;
}

 .schools__header {
     font-size: 42px;
     text-align: center;
 }

 .schools__row {
     display: flex;
     flex-flow: row wrap;
     align-items: flex-start;
     justify-content: space-evenly;
 }

 .schools__column {
    display: flex;
    justify-content: center;
    flex: 0 0 39%;
    /* margin: 30px 0 60px 0; */
 }

.item-schools__item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* width: 500px; */
}

 .item-schools__icon {
     height: 120px;
     width: 120px;
 }

.item-schools__city {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
 }

.item-schools__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
}

.item-schools__text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: justify;
    padding-top: 10px;
    font-size: 16px;
    color: #1F2D32;
    line-height: 27px;
    text-decoration: none solid rgb(31,45,50);
}

.condition {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ref {
    padding-right: 5px;
    color: #0099dd;
    text-decoration: none;
}

.ref:hover {
    text-decoration: underline;
    color: #0099dd;
    cursor: pointer
}

.footer_separator {
    max-width: 1200px;
    margin-top: 90px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto;
}

.footer__social-icons {
    height: 32px;
    width: 32px;
    background-color: white;
    color: #006491;
}

.animated_column_one {
    /* visibility: initial; */

    animation-name: left_to_right;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: initial;
    /* animation-play-state: paused; 
    СДЕЛАТЬ animation-play-state С ПОМОЩЬЮ JS из состояния paused в running, когда элемент попадает во вьюпорт
    */
    
    /* animation это короткая запись для animation-name, animation-duration, animation-timing-function, animation-delay,
    animation-iteration-count, animation-direction, animation-fill-mode и animation-play-state. */

    /* animation: left_to_right 1s linear 1 normal 0s forwards; */
    
    position: relative;
}

@keyframes left_to_right {
    0%{
        left: -999px;
    }
    80%{
        left: 0;
    }
    90%{
        left: -60px;
    }
    100%{
        left: 0;
    }
    }

.animated_column_two {
    /* visibility: unset; */
    animation: right_to_left 1s linear 1 normal 0s forwards;
    position: relative;
}

@keyframes right_to_left {
    0%{
        right: -999px;
    }
    80%{
        right: 0;
    }
    90%{
        right: -60px;
    }
    100%{
        right: 0;
    }
    
    }

    .logo_2 {
        margin-left: 15px;
    }

    .page_wrapper {
        /* display: flex; */
        /* flex-flow: column wrap; */
        letter-spacing: 0.5px ;
        padding: 10px 10px 10px 10px;
        justify-content: center;
        margin: 0 auto;
        /* border: 10px solid greenyellow ; */
        align-items: center;
        max-width: 1200px;
    }

    .page_title {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 30px;
    }

    .page_description {
        font-size: 24px;
        font-weight: 200;
        margin: 10px 0 20px 0;
    }

    .page_qa {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .page_image {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        /* margin: 0 auto; */
        height: 880px;
        width: 1200px;
        max-width: 100%;
        /* background-size: cover;
	    background-position: center; */
    }

    .faq__question {
        display: flex;
        margin: 20px 0 15px 0;
        font-size: 16px;
        font-weight: 700;
    }

    .faq__answer {
        display: flex;
        padding: 10px 0 10px 15px;
        margin-bottom: 20px;
        border-left: 5px solid #EEEEEE;
        font-size: 18px;
        font-weight: 100;
    }

    .beautiful_hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }